@import "tailwindcss";

@theme {
  --color-blue: #002366;
  --color-dark: #010206;
  --color-gray: #BCBEC0;
  --color-light: #F2F2F0;

  --font-sans: "Inter", sans-serif;
}

body {
  background:
    radial-gradient(ellipse 60% 50% at 50% 20%, rgba(0, 35, 102, 0.15) 0%, transparent 70%),
    #010206;
}
